/* Basic core setup */
svg.aniblock {
    fill-opacity: 0;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    font-family: 'Lato', sans-serif;
}

svg.aniblock #canvas {
    fill-opacity: 1;
    fill: rgb(255, 255, 255);
    stroke: rgb(200, 200, 200);
    stroke-width: 2px;
    stroke-dasharray: none;
    stroke-dashoffset: 0%;
}

svg.aniblock text {
    stroke-width: 0px;
    font-size: 25px;
}

/* Guide component setup */
svg.aniblock line.AGuide {
    fill-opacity: 1;
    stroke: rgb(235, 197, 230);
    stroke-width: 1px;
    stroke-dasharray: 4px 4px;
    stroke-dashoffset: none;
}

svg.aniblock text.AGuide {
    fill-opacity: 1;
    fill: rgb(221, 159, 213);
    font-size: 12px;
}

svg.aniblock g.AGuide rect.ABlock {
    fill: rgb(211, 162, 204);
}

/* Default style for a Block */
svg.aniblock rect.ABlock {
    fill: rgb(250, 250, 250);
    stroke: rgb(63, 121, 147);
    stroke-width: 6px;
}

svg.aniblock text.ABlock {
    fill: rgb(63, 121, 147);
}

/* Default style for a Link and Blocks with Link style */
svg.aniblock .ALink rect.ABlock {
    fill: rgb(191, 200, 202);
    stroke: rgb(191, 200, 202);
    stroke-width: 6px;
}

svg.aniblock .ALink text.ABlock {
    fill: rgb(250, 250, 250);
    stroke-width: 0px;
}

svg.aniblock rect.ALink {
    fill: rgb(191, 200, 202);
    stroke-width: 0px;
}

/* Default style for a Block Load Meter */
svg.aniblock rect.ALoad {
    stroke: rgb(120, 122, 122);
    fill: rgba(255, 255, 255, 0);
    fill-opacity: 0;
    stroke-opacity: 0;
    stroke-width: 2px;
    stroke-dasharray: none;
    stroke-dashoffset: 0%;
}

svg.aniblock rect.ALoadMeter {
    fill-opacity: 0;
    stroke-width: 0px;
}
