body {
    margin: 1px;
}

svg.aniblock #canvas {
    fill: rgb(255, 255, 255);
    stroke: rgb(200, 200, 200);
}

svg.aniblock rect.ABlock {
    fill: rgb(250, 250, 250);
    stroke-width: 6px;
}

svg.aniblock .s1 rect.ABlock {
    stroke: rgb(0, 145, 169);
}

svg.aniblock .s1 text {
    fill: rgb(0, 145, 169);
}

svg.aniblock .s2 rect.ABlock {
    stroke: rgb(149, 214, 0);
}

svg.aniblock .s2 text {
    fill: rgb(149, 214, 0);
}

svg.aniblock .s3 rect.ABlock {
    stroke: rgb(255, 107, 09);
}

svg.aniblock .s3 text {
    fill: rgb(255, 107, 09);
}

svg.aniblock .s4 rect.ABlock {
    stroke: rgb(0, 43, 73);
}

svg.aniblock .s4 text {
    fill: rgb(0, 43, 73);
}

svg.aniblock .b1 rect.ABlock {
    stroke: rgb(203, 207, 209);
    fill: rgb(203, 207, 209);
}

svg.aniblock .b1 text {
    fill: rgb(82, 92, 99);
}

svg.aniblock .l1 rect.ABlock,
svg.aniblock rect.ALink {
    stroke: rgb(203, 207, 209);
    fill: rgb(203, 207, 209);
}